{% extends 'ZeteqMarketBundle:Market:myaccount_layout.html.twig' %}

{% block title %}Edit Billing Address{% endblock %}
 
{% block content %}
    <h1>Edit Billing Address</h1>

    {{ form(edit_form) }}
 
        <a href="{{ path('customer') }}">
            Back to the list
        </a>
 
{% endblock %}
