

{% extends 'ZeteqMarketBundle:Market:myaccount_layout.html.twig' %}


{% block title %}
Forgot password?
{% endblock %}
{% block content %}

<div style="padding:20px;">
<div class="header">
 
</div>
<br/>
 <h3>Forgot password?</h3>
<h5>Please enter your email address. We will send instructions to your email on how to reset your password</h5>

<form method="post" action="{{path('reset_password')}}">
your email address <input type="text" name="email"/>
<input class="btn " type="submit" />
</form>

 
</div>

{% endblock %}






