<h3>Hello</h3>
<p>Welcome to {{web}} Please activate your account by clicking on the link below.</p>
<p><a href="{{web}}/activate_customer/{{user.getActivationCode()}}">activate your account by clicking here</a></p>
<h3>Best Regards</h3>
<h3>{{site_name}}</h3>