{% extends 'ZeteqMarketBundle:Market:myaccount_layout.html.twig' %}

{% block title %}
Forgot password?
{% endblock %}
{% block content %}

<div style="padding:20px;">
    <h1>Your password has been successfully changed.</h1>

 
 
</div>

{% endblock %}



        