{% extends 'ZeteqMarketBundle:Market:layout.html.twig' %}

{% block title %}
Forgot password?
{% endblock %}
{% block content %}

<div style="padding:20px;">
    <h1>Sorry we could not find the resource you are looking for</h1>

 
 
</div>

{% endblock %}



        