{% extends 'ZeteqMarketBundle:StoreAdmin:store_admin_layout.html.twig' %}
{% block title %}
Admin
{% endblock %}
{% block content %}
    <h1>Change Password</h1>

    {{ form(edit_form) }}

 
        <a href="{{ path('user') }}">
            Back to the list
        </a>
 

{% endblock %}
