{% extends 'ZeteqMarketBundle:Admin:admin_layout.html.twig' %}


{% block title %}
Admin panel
{% endblock %}
{% block content %}

<div class="page-header">
    <h2><i class="fa fa-gears"></i> Admin Dashboard</h2>
</div>
<div class="row">
    
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Products pending approval  <span class="badge pull-right">42</span></h3> 
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
        
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Stores pending approval  <span class="badge pull-right">32</span></h3> 
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>       
        
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Unviewed sales  <span class="badge pull-right">32</span></h3> 
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>  
    
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Unshipped sales  <span class="badge pull-right">32</span></h3> 
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>  
        
</div>           


{% endblock %}






