{% extends 'ZeteqMarketBundle:Market:layout.html.twig' %}

{% block title %}Login{% endblock %}
 
{% block content %}

<div style="padding:20px;">
 

    <h3>Please check your email for further instructions.</h3>
 
</div>

{% endblock %}






