<div style="margin-bottom: 10px;">
    <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
      <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
        <li data-slide-to="1" data-target="#carousel-example-generic" class=""></li>
        <li data-slide-to="2" data-target="#carousel-example-generic" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img alt="First slide" data-src="holder.js/900x500/auto/#777:#555/text:First slide" src="{{asset('upload/images/ss1.jpg')}}">
        </div>
        <div class="item">
          <img alt="Second slide" data-src="holder.js/900x500/auto/#666:#444/text:Second slide" src="{{asset('upload/images/ss2.jpg')}}">
        </div>
        <div class="item">
          <img alt="Third slide" data-src="holder.js/900x500/auto/#555:#333/text:Third slide" src="{{asset('upload/images/ss3.jpg')}}">
        </div>
      </div>
{#      <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a data-slide="next" href="#carousel-example-generic" class="right carousel-control">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>#}
    </div>
  </div>


	<div class="marquee">
		<p><a href="">Ever wonder where all these stores get their ideas?</a></p>
		<p><a href="">click here to randomly select a great store!</a></p>
	</div>




<div class="col-md-12 hometextbox">
    <i class="fa fa-eye" style="font-size: 24px;color: silver;"></i><br>
    Introducing the all new <a href="http://www.fallingfalling.com/">JUGGERNAUT 2.0</a>! Now bigger and better than ever before. The new <a href="http://www.fallingfalling.com/">JUGGERNAUT 2.0</a> features an elastic back stand that enables you to see through even the thickest of glasses. Funny how you would think looking through something transparent actually requires some kind of device! Now, you can just use your eyes!!
</div>