{% extends 'ZeteqMarketBundle:Market:layout.html.twig' %}

{% block title %}
Forgot password?
{% endblock %}
{% block middle_container %}

<div class="page-header">
    <h1 class="alert-success"><i class="fa fa-check"></i>Your password has been successfully changed.</h1>

 
 
</div>

{% endblock %}



        